@model IEnumerable<Aplicacion.Models.Proovedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipodepersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fechadeingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipodepersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fechadeingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Proveedor }) |
            @Html.ActionLink("Details", "Details", new { id=item.Proveedor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Proveedor })
        </td>
    </tr>
}

</table>
